
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.534);
    /* position: fixed; */
    /* background-color: transparent; */
    /* margin-left: 35%; */
  
  }
  
  li {
    float: right;
  }
  ul li a{
    list-style-type: none;
    text-align: center;
  
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Pacifico', cursive; 
  
  }
  
  li a:hover {
    background-color:orange;
  }
  #gmap_canvas{
    border: none;
    width: 100%;
    height: 450px;
/* margin-right: 20%; */
}
#gmap_canvas {
    position: relative;;
    margin-bottom: 16em;
}
.contact h3 {
    color: #eee;
}
.contact p {
    margin: 0;
    font-size: 15px;
    color: #999;
    letter-spacing: 1px;
}
.formcontact {
    display: flex;
    width: 70%;
    position: absolute;
    bottom: 1%;
    left: 15%;
	-webkit-box-shadow: -5px 6px 25px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 6px 25px -12px rgba(0,0,0,0.75);
	box-shadow: -5px 6px 25px -12px rgba(0,0,0,0.75);
}
.form {
    flex-basis: 70%;
    -webkit-flex-basis: 70%;
    padding: 3em 5em;
    background: #fff;
}
.contact {
    flex-basis: 30%;
    -webkit-flex-basis: 30%;
    padding: 3em 2em;
    background: #333;
}
.input-group input[type="text"], .input-group input[type="email"] {
    font-size: 15px;
    letter-spacing: 1px;
	text-transform: lowercase;
    padding: 10px;
    margin: 10px 0;
    width: 49%;
	color: #666;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #999;
    background: transparent;
}
.input-group input.margin2 {
    margin-right: 2%;
}
.input-group1 input[type="submit"] {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    box-sizing: border-box;
	cursor: pointer;
    color: #eee;
    background: #333;
    padding: 10px;
    border: none;
    width: 25%;
    margin: 10px 0 0 auto;
	transition: all 0.5s ease-in;
}
.input-group1 input[type="submit"]:hover {
    background: #2196F3;
	transition: all 0.5s ease-in;
}
textarea {
    font-size: 15px;
    resize: none;
	text-transform: capitalize;
    padding: 10px;
    letter-spacing: 1px;
    width: 100%;
	margin: 10px 0;
    box-sizing: border-box;
    outline: none;	
    color: #666;
	border: 1px solid #999;
	background: transparent;
}
/*--social_media_icons_style--*/
.socialmedia ul li {
	margin: 0 5px;
    list-style: none;
    display: inline-block;
}
.socialmedia ul li  {
    display: block;
    color: white;
	font-size:12px;
    text-decoration: none;
    width: 32px;
    height: 32px;
    line-height: 35px;
    background: transparent;
    box-shadow: 1px 1px 4px #fbfcff;
}
.contact address p span.fas {
    width: 25px;
    color: #fff;
    margin-left: 0px;
    display: inline-block;
}
.contact address p span {
    display: block;
    margin-left: 30px;
}
.contact address p, .contact address p a{
    color: #bbb;
    font-size: 17px;
    letter-spacing: 1px;
}
.contact address p a:hover{
    color: #fff;
}
.contact address {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
/* @media(max-width: 900px){
	.contact address p, .contact address p a {
		font-size: 15px;
		letter-spacing: 1px;
	}
	.contact p {
		letter-spacing: .5px;
    }}
 @media(max-width: 1280px){
        .formcontact{
            width: 85%;
            left: 7.5%;
        }} */

        @media(max-width:425px){
            .formcontact{
              position: relative;
              left:0%;
              width:100%;
              margin-right: 0;
              margin-left: 0;
            }
            .form {
              flex-basis: 100% ;
              -webkit-flex-basis: 100% ;
              padding: 0em 2em;
              font-size: 1rem;
              font-weight: 400;
              line-height: 2.5;
              color: #212529;
              text-align: left;
            }
            .input-group input.margin2 {
              margin-right: 0%;
            }
            .form .input-group input[type="text"], .input-group input[type="email"] {
              width: 100%;
            }
            #gmap_canvas {
              margin-bottom: 0;
            }
          }
