body {
  background-image: url(/images/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.534);
  /* position: fixed; */
  /* background-color: transparent; */
  /* margin-left: 35%; */

}

li {
  float: right;
}
ul li a{
  list-style-type: none;
  text-align: center;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  list-style-type: none;
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Pacifico', cursive; 

}

li a:hover {
  background-color:orange;
}
.heading {
  font-family: 'Pacifico', cursive; 
  text-align: center;
  padding: 20px;
}

.cakes h5 {
  font-family: 'Pacifico', cursive; 
  text-align: center;
  padding-bottom: 30px;

}
.cakes img {
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}